<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Editing <%= spot.name %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <div class="edit-body">
            <h1>Edit <%= spot.name %> at <%= spot.location %>
            </h1>
            <form action="/users/<%= user._id %>/spots/<%= spot._id %>?_method=PUT" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= spot.name %>" />
                <label for="location">Location</label>
                <input type="text" id="location" name="location" value="<%= spot.location %>" />
                <label for="easyToFind">Easy to Find</label>
                <input type="checkbox" id="easyToFind" name="easyToFind" <%=spot.easyToFind ? 'checked' : '' %> />
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes"><%= spot.notes %></textarea>
                <label for="difficulty">Difficulty</label>
                <select id="difficulty" name="difficulty">
                    <option value="easy" <%=spot.difficulty==="easy" ? "selected" : "" %>>Easy</option>
                    <option value="medium" <%=spot.difficulty==="medium" ? "selected" : "" %>>Medium</option>
                    <option value="hard" <%=spot.difficulty==="hard" ? "selected" : "" %>>Hard</option>
                </select>
                <button type="submit">Update SkateSpot</button>
            </form>
        </div>
</body>

</html>

</html>