<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editing <%= spot.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= spot.name %> at <%= spot.location %></h1>
    <form action="/users/<%= user._id %>/spots/<%= spot._id %>?_method=PUT" method="POST">
    <input type="text" id="name" name="name" value="<%= spot.name %>" />
    <label for="location">Location</label>
    <input type="text" id="location" name="location" value="<%= spot.location %>" />
    <label for ="easyToFing">Easy to Find</label>
    <input type="checkbox" id="easyToFind" name="easyToFind" <%= spot.easyToFind ? 'checked' : '' %> />
    <label for ="difficulty">Difficulty</label>
    <select id="difficulty" name="difficulty">
      <option value="easy" <%= spot.difficulty === "easy" ? "selected" : "" %>>Easy</option>
      <option value="medium" <%= spot.difficulty === "medium" ? "selected" : "" %>>Medium</option>
      <option value="hard" <%= spot.difficulty === "hard" ? "selected" : "" %>>Hard</option>
    </select>
    <label for ="rating">Rating</label>
    <select id="rating" name="rating">
      <option value="1" <%= spot.rating === "1" ? "selected" : "" %>>1</option>
      <option value="2" <%= spot.rating === "2" ? "selected" : "" %>>2</option>
      <option value="3" <%= spot.rating === "3" ? "selected" : "" %>>3</option>
      <option value="4" <%= spot.rating === "4" ? "selected" : "" %>>4</option>
      <option value="5" <%= spot.rating === "5" ? "selected" : "" %>>5</option>
    </select>
    <label for="notes">Notes:</label>
    <textarea id="notes" name="notes"><%= spot.notes %></textarea>
    <button type="submit">Update SkateSpot</button>
    </form>


  </body>
</html>
