<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Skatespots</title>
  </head>
  <body>
    <!-- views/applications/index.ejs -->

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="all-apps-body">
      <div class="all-apps-header">
        <h1>Your Skate Spots</h1>
        <a class="add-spot-link" href="/users/<%=user._id%>/spots/new"
          >Add an another Skate Spot</a
        >
      </div>
      <ul>
        <% spots.forEach((spot)=>{ %>
        <a href="/users/<%= user._id %>/spots/<%= spot._id %>">
          <li><%= spot.name  %> at <%= spot.location %></li>
        </a>
        <% }) %>
      </ul>
    </div>
        
  </body>
  
   
    </body>
</html>
