<!-- views/applications/show.ejs -->
<!-- views/applications/show.ejs -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= spot.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= spot.name %> at <%= spot.location %></h1>
    <% if (spot.notes) { %>
    <p>Notes: <%= spot.notes %></p>
    <% } %> 
    
   
    <% if (spot.easyToFind) { %>
    <p>Easy to Find: Yes</p>
    <% } else { %>
    <p>Easy to Find: No</p>
    <% } %>
    
    <% if (spot.difficulty === "easy") { %>
    <p>Skatability: Easy</p>
    <% } else if (spot.diffiulty === "medium") { %>
    <p>Difficulty: Medium</p>
    <% } else { %>
    <p>Difficulty: Hard</p>
    <% } %>
    
    <a href="/users/<%= user._id %>/spots/<%= spot._id %>/edit">Edit this Skate spot</a>
    <form
    action="/users/<%= user._id %>/spots/<%= spot._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Delete this Skate spot</button>
  </form>
  </body>
</html>
